@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.scroll-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #536dfe;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  outline: none;
  cursor: pointer;
  display: none;
}

.scroll-to-top:active {
  background: #465cd8;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #536dfe;
  z-index: 360;
  -webkit-box-shadow: 0px 3px 20px -6px #536dfe;
  -moz-box-shadow: 0px 3px 20px -6px #536dfe;
  box-shadow: 0px 3px 20px -6px #536dfe;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 0;
}

.nav-links li {
  list-style: none;
  user-select: none;
  cursor: pointer;
}

.nav-links a, 
footer a,
.socials i {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  user-select: none;
  cursor: pointer;
}

.logo a {
  font-size: 30px;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}

.nav-links li a:hover, 
.logo a:hover, 
footer a:hover,
.socials i:hover  {
  color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 1px;
  margin: 5px;
  background: black;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media (max-width: 678px) {
  html, body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #536dfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .burger {
    display: block;
  }
  .container {
    width: 100%;
  }
  .container-about {
    flex-direction: column;
    align-items: center;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,4px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-4px);
}

.container {
  width: 80%;
  margin: auto;
}

.container-about {
  height: 92vh;
  display: flex;
  justify-content: center;
}

.container-about .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-about .about, 
.container-about .image {
  width: 50%;
}

.txt-type {
  color: #536dfe;
}

.txt-type::after {
  content: "";
  border-right: 2px solid black;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-about button {
  background: #536dfe;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  width: 200px;
  border: 2px solid #536dfe;
  cursor: pointer;
  transition: all 1s ease;
}

.container-about button:hover {
  background: white;
}

.container-projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.container-projects .image {
  width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #536dfe;
  color: black;
  height: 20vh;
}

footer i {
  font-size: 25px;
  padding: 5px;
}

footer p {
  color: lightgray;
}