@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  overflow: hidden;
}

header {
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #333;
  -webkit-box-shadow: 0px 3px 20px -6px #536dfe;
  -moz-box-shadow: 0px 3px 20px -6px #536dfe;
  box-shadow: 0px 3px 20px -6px #536dfe;
}

.logo {
  user-select: none;
  cursor: pointer;
}

.logo a {
  font-size: 30px;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  user-select: none;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}

nav ul li:hover, .logo a:hover {
  color: #536dfe;
}

.container {
  margin: 100px;
  display: flex;
  justify-content: center;
}

.container .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .about, .container .image {
  width: 30%;
}

.txt-type .txt {
  color: #536dfe;
  border-right: 0.2rem solid #777;
}