@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #333;
}

.logo {
  user-select: none;
  cursor: pointer;
}

.logo a {
  font-size: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  user-select: none;
  cursor: pointer;
}

nav ul li:hover {
  color: #536dfe;
}

.container {
  margin: 100px;
  display: flex;
  justify-content: center;
}

.container .about, .container .image {
  width: 30%;
}

.txt-type .txt {
  color: #536dfe;
  border-right: 0.2rem solid #777;
}